h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: PingFangSC-Medium !important;
    font-size:16px;
    font-weight:bold;
}

h1{
    text-align:center;
    margin-top:15px;
    font-size: 100%;
    font: inherit;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size:30px;
    font-weight:bold;
}

#searchPanelWrapper{
    height:550px;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#customerSearchPanel{
   position:absolute;
   left:50px;
   top:75px;
   width: 550px;
   border: 5px;
   padding: 25px;
   margin: 25px;
   height:300px;
}

#productSearchPanel{
   position:absolute;
   right:50px;
   bottom:50px;
   width: 550px;
   height:275px;
   border: 5px;
   padding: 25px;
   margin: 25px;
}

.searchBarWrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:25px;
    width:80%;
}

.inputBox{
   left:1%;
   width:80%;
   height:25px;
}

.searchButton{
   right:1%;
   width:15%;
}

select{
   margin-top:25px;
}
